@use "../Utils/" as *;

.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 5%;

    @include mobile-only {
        padding: 25px 5%;

    }

    &__logo {
        @include mobile-only {
            width: 140px;
            height: 47px;
        }
    }

    // &__navigation-bar {}

    &__unordered-list {
        display: flex;

        gap: 50px;

        @include mobile-only {
            gap: 15px;
        }


    }

    &__list-item {
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;

        transition: font-weight 50ms ease-out;

        @include mobile-only {
            text-transform: uppercase;
            font-size: 12px;
        }

        &:hover {
            cursor: pointer;
            font-weight: 600;
            text-decoration: underline;
        }


    }
}