@use "../Utils/" as *;

.error-404 {
    @include center-flex-column(75px);

    &__text {
        text-align: center;
    }


    &__title {
        font-weight: 700;
        font-size: 288px;

        @include mobile-only {
            font-size: 96px;
        }
    }

    &__sub-title {
        font-size: 36px;

        @include mobile-only {
            font-size: 18px;
        }
    }

    &__link {
        text-decoration: underline;
        color: var(--text-color-primary);
        margin-bottom: 125px;

        &:hover {
            color: var(--text-color-primary--hover)
        }

        @include mobile-only {
            font-size: 14px;
        }
    }
}