@use "../Utils/" as *;

.spin-loader {

    --spin-loader-height: 300px;
    width: 100%;
    height: var(--spin-loader-height);
    order: -2;
    @include center-flex;
    grid-column-start: 2;

    @include tablet-only {
        grid-column-start: 1;
    }

    @include mobile-only {
        grid-column-start: 1;
        --spin-loader-height: 150px;
    }


    &__circle {
        aspect-ratio: 1/1;
        height: 50%;

        border-radius: 50%;

        background-color: transparent;

        --border-circle: 12px;
        border-block: var(--border-circle) solid var(--star-color-full);
        border-left: var(--border-circle) solid var(--star-color-empty);
        border-right: var(--border-circle) solid var(--star-color-empty);

        animation: full-spin 750ms ease-in-out infinite both;
    }
}