@keyframes slide-out-right {
    from {
        translate: 0%;
    }

    to {
        translate: 100%;
    }
}

@keyframes slide-out-left {
    from {
        translate: 0%;
    }

    to {
        translate: -100%;
    }
}